
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}
:root {
  --cookies: 0s;
}
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite linear;
    animation-duration: var(--cookies);

  }
}
.Store {
  background: white;
  border: 1px solid #999;
  padding: 0 20px;
  border-radius: 10px;
  box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.4);
  margin-top: 20px;
}

.App-header {
  background-color: 	#252526;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: red;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
